# Site Admin Args needed by the container to generate config files for the ErythronDB websites

SITE_ADMIN_EMAIL=site-admin-email-address

# database
WEB_DB_NAME=erythtst
WEB_DB_USER=erythrondb
WEB_DB_PASSWORD=pg-web-user-password

# tomcat manager
TOMCAT_MANAGER_PASSWORD=s3cret

# Set the following to http://hostname,https://hostname or http://hostIP,https::hostIP
# if using an apache ProxyPass/Reverse ProxyPass on the host 
# to add an SSL layer to the tomcat application and serve the site via HTTPS
CORS_ALLOWED_ORIGINS=

