# Site Admin Args needed by the container to generate config files for the ErythronDB websites

SITE_ADMIN_EMAIL=site-admin-email-address

# database
WEB_DB_NAME=erythtst
WEB_DB_USER=erythrondb
WEB_DB_PASSWORD=pg-web-user-password

# tomcat manager
TOMCAT_MANAGER_PASSWORD=s3cret

